{% extends "base.html" %}
{% load staticfiles %}
{% load blog_tags %}

{% block title %}home{% endblock %}


{% block banner %}

<section class="hero" role = "banner">
  <h1> Hello, I'm Cindy.</h1>
  <p class="desc">I talk about <span id="typed" style="color: #DA4453;"></span></p>
</section>
{% endblock %}


{% block content %}
    <section class="services">
      <div class="container">
      <h2 class="section-title">What I can Do for you</h2>
      <ul>
        <li>
          <img src="{% static 'images/light.svg' %}" alt="a bulb shining bright">
          <h3>Mentorship</h3>
          <p>I am a Tech ambassador for children, women and the underprivileged.I believe it's time for the gender gap in tech to be filled and so I encourage more Women to code. I talk in programming events, organize and host tech events and also offer mentorship. </p>
          <a href="">info@achiengcindy.com</a>
        </li>

          <li>
            <img src="{% static 'images/light.svg' %}" alt="Learn anything">
             <h3>Web Hosting</h3>
            <p>Your online presence matter.For small to medium sites get Django hosting with me.Uptime is guaranteed 100% at affordable price.Your mind will be blown away</p>
           <a href="">info@achiengcindy.com</a>
        </li>

         <li>
          <img src="{% static 'images/light.svg' %}" alt="Learn anything">
          <h3>Learn Programming</h3>
          <p>The whole idea is to empower you to dive into coding.You have what it takes and the time to start is now.Learn Django,javascript and many  other technologies absolutely free</p>
          <a href="{% url "blog:post_list" %}">Go To Class</a>
        </li>
      </ul>
    </div>
    </section>

    <section class="recent_blogs home">
      <div class="container">
         <!-- post written -->
         <h2 class="section-title">Latest Posts from my Blog</h2>
         {% show_latest_posts 3 %}
      </div>
    </section>
<!--     <section class="recent__works main__content">
       <h2 class="section-title">Recent Works</h2>
        <ul>
            <li>Restaurant Review app</li>
            <li>offline Currency Converter</li>
            <li>Cindy Achieng Website</li>
            <li>Curriculum.co.ke</li>
        </ul>
    </section> -->
    <section class="popular__posts home">
      <div class="container">
        <h2 class="section-title">Trending Posts</h2>
        <!-- popular posts -->
        {%  get_most_commented_posts  as  most_commented_posts  %}
      <ul>
        {% for post in most_commented_posts %}
        <li class="posts">
          <img class="post-image" src="{{post.image.url }}" alt="Popular post">
          <article class="post-list">
            <h3 class="post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
            <p>{{ post.body|markdown|truncatewords_html:35 }}</p>
          </article>
        </li>
        {% endfor %}
      </ul>
      <footer class="more__posts">
        <button><a href="{% url "blog:post_list" %}">More Posts</a></button> 
      </footer>

      </div>
    </section>

    <section class="partners">
      <div class="container">
        <h2 class="section-title">Partners</h2>
        <ul class="partners-section">
          <li>
            <a href="https://v2.curriculum.co.ke/" target="_blank">
              <figure>
                <img src="{% static 'images/graduation-cap_1_160x72.png' %}">
                <figcaption> curriculum</figcaption>
              </figure>
            </a>
          </li>
            <li>
              <a href="http://www.mochahost.com/6882.html" target="_blank">
                <figure>
                  <img src="{% static 'images/mochahost_160x72.png' %}">
                  <figcaption> Mochahost</figcaption>
                </figure>
              </a>
            </li>
            <li>
                <a href="https://www.mailjet.com/?tap_a=25852-4bddf6&tap_s=243499-30c71b&aff=243499-30c71b" target="_blank">
                <figure>
                  <img src="{% static 'images/mailjetad.jpg' %}">
                  <figcaption> Mailjet</figcaption>
                </figure>
              </a>
              
            </li>
          </ul>

      </div>
    </section>
    {% endblock %}