<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cindy Achieng</title>
    
</head>
<!-- https://www.uxpin.com/studio/ -->
<body>
    <header id="main__header">
            <div class="header__inner">
                <a class="header__logo" href="#">Cindy <span style="color: yellowgreen;">Achieng</a>
                   <a id="menu" class="header__menu" style="display: none;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M2 6h20v3H2zm0 5h20v3H2zm0 5h20v3H2z"></path></svg>
                    </a>
                <div class="nav__wrapper" id="drawer">
                    {% include 'nav.html' %}
                 
                </div>
            </div>
    </header>
    <main>
   
  <p>fddddddddddddddddddddddddddddddddddddddddddddddddddddg
  gfffffffffffffffffffffffffffffffffff
fgggggggggggggggggggggggggggggggg
fdddddddddddddd</p>
    </main><!--end of .main-->
</body>
</html>



