
#ignore all Python files
*.pyc
*.log
local_settings.py
db.sqlite3
.DS_Store


# Distribution / packaging
build/
dist/


# Environments
.env
src/mysite/settings/prod\.py
src/mysite/settings/stage\.py




src/dump\.json

src/dump1\.json

src/staticfiles/

src/static/css/

src/payment/mpesa\.py

src/payment/token\.py

src/orders/migrations/

*.sql

src/blog/templates/blog/post/detail1\.html

src/accounts/migrations/

src/blog/migrations/
