
#ignore all Python files
*.pyc
*.log
local_settings.py
db.sqlite3
.DS_Store


# Distribution / packaging
build/
dist/


# Environments
.env
src/mysite/settings/prod_settings\.py
src/mysite/settings/stage_settings\.py
