
<footer id="footer">
    <div id="footer_outer">
            <ul>
        <li class="mailing-list"><i class="fa fa-envelope"></i>info@achiengcindy.com</li>
        <li class="social">
            <ul class="social-buttons">
                <li><a style="background-color: #333" target="_blank" href="https://github.com/achiengcindy"><i class=" fa fa-github"></i></a></li>
                <li><a style="background-color : rgb(66, 101, 185)" target="_blank" href="https://www.facebook.com/cindy.muga.1"><i class="fa fa-facebook"></i></a></li>
                <li><a style="background-color : rgb(85, 172, 238)" target="_blank" href="https://twitter.com/achiengcindy1" class="share-twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a style="background-color: rgb(76, 174, 227)" target="_blank" href="https://www.linkedin.com/in/cindy-achieng/"><i class="fa fa-linkedin"></i></a></li>
                <li><a style="background-color: #d34836" target="_blank" href="https://plus.google.com/share/?url=http://achiengcindy.com"><i class=" fa fa-google-plus"></i></a></li>
            </ul>
        </li>
        <li class="newsletter">
                <a href="{% url 'newsletter:subscribe' %}" target="_blank">Join my newsletter</a></li>
    </ul>
    </div>
    <div id="footer_inner">
        Copyright © 2017-2018 <a href="https://achiengcindy.com"><strong>Cindy Achieng</strong></a>.
    </div>
    
</footer>