   {% load staticfiles %}
   
   <ul>
       <li>
                            <img src="{% static 'images/accounts_icon.png' %}">
                            <ul class="dropdown">
                                {% if user.is_authenticated %}
                                <li><a href="{% url 'logout' %}">logout</a></li>
                                {% else %}
                                <li><a href="{% url 'login' %}">login</a></li>
                                <li><a href="{% url 'register' %}">signup</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li>
                            <a href="{% url "cart:cart_detail" %}">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                {% with total_items=cart|length %}
                                {% if cart|length > 0 %}
                                Your cart: 
                                <span id="checkout_items" class="checkout_items">
                                    {{ total_items }} item{{ total_items|pluralize }},${{ cart.get_total_price }}</span>
                            </a>
                      {% else %}
                        empty
                      {% endif %}
                    {% endwith %}   
                        </li>
                    </ul>



                 