{% load staticfiles %}

<header id="main__header">
        <a class="header__logo" href="{% url 'home' %}">Cindy<span style="color: yellowgreen;">Achieng</a>
            <a id="menu" class="header__menu" style="display: none;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M2 6h20v3H2zm0 5h20v3H2zm0 5h20v3H2z"></path></svg></a>
                <div class="nav__wrapper" id="drawer">
                        <nav class="main__nav" role="navigation">
                                <ul class="nav__list">
                                    {% url 'home' as Home %}
                                    {% url 'post_list' as Blog %}
                                    {% url 'contact' as Contacts %}
                                    {% url 'product_list' as Shop %}
                                   
                                    <li class="nav__item">
                                        <a {% if request.path == 'home' %} class="active" {% endif %} href="{% url 'home' %}">Home</a>
                                        </li>
                                    <li class="nav__item">
                                        <a {% if request.path == 'blog' %} class="active" {% endif %} href="{% url 'blog:post_list' %}">Blog</a>
                                        </li>
                                    <li class="nav__item"><a {% if request.path == 'contact' %} class="active" {% endif %} href="{% url 'contact' %}" class="">Contact</a></li>
                                    <li class="nav__item">
                                        <a {% if request.path == 'shop' %} class="active" {% endif %} href="{% url 'shop:product_list' %}">Shop</a>
                                    </li>
                                   
                                    
                                </ul>
                            </nav>
                </div>
                <div class="header-icons">
                    <ul>
                        <li> 
                            <form class="search_form" action="{% url "blog:post_search" %}"  method="get">
                                <input type="search" name="query" aria-label="Search">
                                <span class="search-icon"><i class="fa fa-search"></i></span>
                            </form>
                        </li>
                    </ul>
                </div>                
    </header>




