
{% extends "shop/base.html" %}
{% load shop_filters %}
{% load shop_tags %}
{% load orders_tags %}
{% block title %}Checkout{% endblock %}




<div class="container">     
        <div class="row topspace">
                <fieldset class="checkout">
                        <legend>Billing info</legend>
                        <table>
                              {% form_table_row form.address %}
                              {% form_table_row form.postal_code %}
                              {% form_table_row form.city %}
                              {% form_table_row form.Estate %}
                        </table>
                  </fieldset>
        </div></div>


