{% extends "shop/base.html" %}
{% load staticfiles %}
{% block title %} {{ product.name }} {% endblock %}

{% block content %}
<section class="products">
        <div class="product_image">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}
                {% static "img/no_image.png" %}{% endif %}">
        </div>
        <div class="product_detail">
                <h3>{{ product.name }}</h3>
                <div class="item">
                {{ product.description|linebreaks }}
                <h4><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h4>
                <p class="price">ksh{{ product.price }}</p>
                <form action="{% url "cart:cart_add" product.id %}" method="post">
                        {{ cart_product_form }}
                        {% csrf_token %}
                        <button class="cart">Add to cart</button>
                </form>
        </div>
</div>  
</section>
{% endblock %}




