{% extends "shop/base.html" %}
{% load shop_filters %}
{% load shop_tags %}
{% load staticfiles %}
{% block title %} welcome to achieng shop{% endblock %}

{% block content %}
<div class="topspace container products">
            <aside class="aside">
                    {% category_list request.path %}
            </aside>
                    <div class="row products-new">
                            {% product_list featured 'Featured Products' %}
                            {% product_list bestseller 'bestseller' %}
                        </div>
                
          

    </div>
       

   
{% endblock %} 
            
        
        
        
        
        
        
        
    



















 


 
            



