{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}shop{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
        <header id="main__header" id="shop">
            <a class="header__logo" href="{% url 'home' %}">Cindy <span style="color: yellowgreen;">Achieng</a>
                <a id="menu" class="header__menu" style="display: none;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M2 6h20v3H2zm0 5h20v3H2zm0 5h20v3H2z"></path></svg></a>
                        {% include 'nav-shop.html' %}         
        </header>
  
<main id="main_shop">
        {% block content %}
        {% endblock %}                  
</main>

    <script type="text/javascript">
        window.loadAsync = function loadAsync(src, callback, relative) {
            var baseUrl = "/resources/script/";
            var script = document.createElement('script');
            if (relative === !0) {
                script.src = baseUrl + src
            } else {
                script.src = src
            }
            if (callback !== null) {
                if (script.readyState) {
                    script.onreadystatechange = function() {
                        if (script.readyState == "loaded" || script.readyState == "complete") {
                            script.onreadystatechange = null;
                            callback()
                        }
                    }
                } else {
                    script.onload = function() {
                        callback()
                    }
                }
            }
            document.getElementsByTagName('head')[0].appendChild(script)
        };
    </script>
    <script>
        window.cssLoadAsync = function() {
            var styles = arguments,
                addStyle = function(style) {
                    var head = document.head || document.getElementsByTagName('head')[0];
                    var link = document.createElement('link');
                    link.rel = 'stylesheet';
                    link.type = 'text/css';
                    link.href = style;
                    link.media = 'all';
                    head.appendChild(link)
                };
            var loadDeferredStyles = function() {
                for (var style in styles) {
                    addStyle(styles[style])
                }
            };
            var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
            if (raf)
                raf(function() {
                    var deferredStylesTimeout = window.setTimeout(function() {
                        loadDeferredStyles();
                        window.clearTimeout(deferredStylesTimeout)
                    }, 0)
                });
            else window.addEventListener('load', loadDeferredStyles)
        }
    </script>

    <script type="text/javascript">
        window.cssLoadAsync("{% static 'css/style.css' %}");
    </script>
    <script>
        window.loadAsync('//code.jquery.com/jquery-3.2.1.min.js', function() {
            window.loadAsync('//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', function() {
                window.loadAsync('{% static "js/main.js" %}', function() {})
            })
        });
        
    </script>
</body>
</html>




