{% extends "base.html" %}
{% load staticfiles %}
{% load blog_tags %}
{% block title %}{{post.title}}{% endblock %}
{% block content %}
	<div class="container">
		<div class="post__lists row topspace">
			{% for post in posts %}
			<div class="column">
				<article class="card-wrapper">
					<header class="article-header">
					{% include 'tags/blog_thumbnail.html' %}
					<a href="{{post.category.get_absolute_url}}" class="category" rel="category tag">{{post.category.title}}</a>
					<h2><a href="{{post.get_absolute_url}}">{{post.title}}</a></h2>
					</header>
					<p class="article-body">{{ post.body|markdown|truncatewords_html:25 }}</p>
					<a href="{{post.get_permalink_url}}" class="card-footer">read more</a>
				</article>
			</div>
			{% endfor %}
		</div>
	</div>




{% endblock %}


	












