
{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block content %}

  <h3 class="">Search for posts</h3>
  <p class="">Found {{ total_results }} result{{ total_results|pluralize }} containing "{{ cd.query }}"</p>
    {% for post in results %}
     <a class="" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
     {% endfor %}   
    <a class="" href="{% url "blog:post_search" %}">Search again</a>
     <form action="." method="get">
      {{ form.as_p }}
      </form>
{% endblock %}


